PORT=3000

CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
REFRESH_TOKEN=1000.9e76e1fa6fb2457da44ba14182b62924.7557b71da1fc9cd424ec17a13b1e99d6
REDIRECT_URI=http://localhost:3000/oauth/callback

NODE_ENV=development
